<!-- HERO -->
		<section id="hero" class="module-hero module-parallax module-full-height bg-light-10" data-background="{$basedomain}assets/images/home.jpg">

			<!-- HERO TEXT -->
			<div class="hero-caption">
				<div class="hero-text">

					<h1 class="mh-line-size-1 font-alt m-b-50">Quinn</h1>
					<h5 class="mh-line-size-4 font-alt">Wedding Organizer</h5>

				</div>
			</div>
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

		<!-- PORTFOLIO -->
		<section id="portfolio" class="module">

			<div class="container">

				<!-- FILTER -->
				<div class="row">

					<div class="col-sm-12">
						<ul id="filters" class="filters font-alt">
							<li><a href="#" data-filter="*" class="current"><Strong>Wedding Details</Strong></a></li>
							
						</ul>
					</div>

				</div>
				<!-- /FILTER -->

				<!-- WORKS GRID -->
				<div class="row">

					<div id="works-grid" class="works-grid works-hover-w">

						<!-- DO NOT DELETE THIS DIV -->
						<div class="grid-sizer"></div>
						
						<!-- PORTFOLIO ITEM -->
						<div class="work-item tall branding">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/dress.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title" >Ceremonial Gown</h3>
								<div class="work-descr">
									Red symbolize auspiciousness
								</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="work-item design">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/decor.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Your Concept</h3>
									<div class="work-descr">
										Art & Decoration 
									</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="work-item design">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/ring.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Two Become as One</h3>
									<div class="work-descr">
										Symbolize of Love
									</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="work-item design">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/makeup.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Perfect Look</h3>
									<div class="work-descr">
										For Special Moment
									</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="work-item design">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/souvenir.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Wedding Favors</h3>
									<div class="work-descr">
										Remind Them of Your Day
									</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="work-item wide-tall branding photo web">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/promo.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Special for you</h3>
									<div class="work-descr">
										Best Deal
									</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="work-item wide design photo web">
							<a href="portfolio-single-1.html">
								<img src="{$basedomain}assets/images/portfolio/food.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Delight Your Guests</h3>
									<div class="work-descr">
										Tasty Food & Drink
									</div>
								</div>
							</a>
						</div>
						<!-- /PORTFOLIO ITEM -->

					</div>

				</div>
				<!-- /WORKS GRID -->

				

			</div>

		</section>
		<!-- /PORTFOLIO -->