	
<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
	<div id="mainnav">

		<!--Shortcut buttons-->
		<!--================================-->
		<div id="mainnav-shortcut">
			
		</div>
		<!--================================-->
		<!--End shortcut buttons-->
		<!--{pr($page.function)}
		{pr($page.page)}-->

		<!--Menu-->
		<!--================================-->
		<div id="mainnav-menu-wrap">
			<div class="nano">
				<div class="nano-content">
					<ul id="mainnav-menu" class="list-group">
						
						<li class="list-header">Home</li>

						<li class="{if $page.page eq 'home' && $page.function eq 'index'}active-link{/if}">
							<a href="{$basedomain}home">
								<i class="fa fa-inbox"></i>
								<span class="menu-title">
									Inbox Pengaduan
								</span>
							</a>
						</li>

						<li class="{if $page.page eq 'home' && $page.function eq 'statistik'}active-link{/if}">
							<a href="{$basedomain}home/statistik">
								<i class="fa fa-bar-chart-o"></i>
								<span class="menu-title">Statistik Pengaduan </span>
							</a>
			
						</li>
						<li class="{if $page.page eq 'home' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}home/viewvisitor">
								<i class="fa fa-eye"></i>
								<span class="menu-title">Statistik Laporan Pengunjung</span>
							</a>
			
						</li>
						<!--Category name-->
						<li class="list-header">Pengaduan</li>
			
						<li class="{if $page.page eq 'daftar_pengaduan'}active-link{/if}">
							<a href="{$basedomain}daftar_pengaduan">
								<i class="glyphicon glyphicon-fire"></i>
								<span class="menu-title">Daftar Pengaduan</span>
							</a>
						</li>
						<li class="{if $page.page eq 'statistik_laporan'}active-link{/if}">
							<a href="{$basedomain}statistik_laporan">
								<i class="fa fa-eye"></i>
								<span class="menu-title">
									Statistik Laporan
								</span>
							</a>
						</li>
			
						<!--Category name-->
						<li class="list-header">Pengaturan</li>
						
						<li class="{if $page.page eq 'daftar_usersipmas'}active-link{/if}">
							<a href="{$basedomain}daftar_usersipmas">
								<i class="glyphicon glyphicon-user"></i>
								<span class="menu-title">User SIPMAS</span>
							</a>
						</li>

						{if $admin.type eq 3}
						<!--Menu list item-->
						<li>
							<a href="#">
								<i class="fa fa-group"></i>
								<span class="menu-title">Pengaturan Admin</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse in">
								<li class=""><a href="{$basedomain}pengaturan_admin">Tambah Administrator</a></li>
								<li class=""><a href="{$basedomain}pengaturan_admin/waktukriteria">Ubah Waktu &amp; Kriteria</a></li>
								<li class=""><a href="{$basedomain}pengaturan_admin/ubahkonten">Ubah Konten</a></li>
								<li class=""><a href="{$basedomain}pengaturan_admin/ruanglingkup">Ubah Kategori Ruang Lingkup</a></li>
							</ul>
						</li>
						{/if}
					</ul>

				</div>
			</div>
		</div>
		<!--================================-->
		<!--End menu-->

	</div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->
