<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Vortex - Responsive HTML5 Portfolio</title>
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="{$basedomain}assets/images/favicon.png">
	<link rel="apple-touch-icon" href="{$basedomain}assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{$basedomain}assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{$basedomain}assets/images/apple-touch-icon-114x114.png">
	
	<!-- Bootstrap core CSS -->
	<link href="{$basedomain}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Plugins -->
	<link href="{$basedomain}assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/ionicons.min.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/simpletextrotator.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/magnific-popup.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/owl.carousel.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/superslides.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/vertical.css" rel="stylesheet">
	<link href="{$basedomain}assets/css/animate.css" rel="stylesheet">
	
	<!-- Template core CSS -->
	<link href="{$basedomain}assets/css/style.css" rel="stylesheet">
	</head>

	<body>

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->
	