<!-- OVERLAY MENU -->
	<div id="overlay-menu" class="overlay-menu">

		<a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>
		
		<div class="overlay-menu-inner">
			<nav class="overlay-menu-nav">
		
				<ul id="nav">
		
					<li class="slidedown">
						<a href="{$basedomain}">Home</a>
						<ul>
							<li><a href="index.html">Light header</a></li>
							<li><a href="index-2.html">Dark header</a></li>
							<li><a href="index-3.html">Film overlay</a></li>
							<li><a href="index-4.html">Image Slider</a></li>
							<li><a href="index-5.html">Youtube Video</a></li>
							<li><a href="index-6.html">Text rotator</a></li>
							<li><a href="index-7.html">Agency</a></li>
						</ul>
					</li>
		
					<li><a href="{$basedomain}about">About</a></li>
		
					<li class="slidedown">
						<a href="{$basedomain}galeri">Gallery</a>
						<!-- <ul>
							<li><a href="portfolio-single-1.html">Single 1 - standartd</a></li>
							<li><a href="{$basedomain}galeri">Gallery</a></li>
							<li><a href="portfolio-single-3.html">Single 3 - full height</a></li>
							<li><a href="portfolio-single-4.html">Single 4 - Slider</a></li>
							<li><a href="portfolio-single-5.html">Single 5 - Youtube header</a></li>
							<li><a href="portfolio-single-6.html">Single 6 with slider</a></li>
							<li><a href="portfolio-single-7.html">Single 7 with Youtube</a></li>
							<li><a href="portfolio-single-8.html">Single 8 with Vimeo</a></li>
						</ul> -->
					</li>
		
		
					<li><a href="{$basedomain}kontak">Contact</a></li>
		
				</ul>
		
			</nav>
		</div>
		

	</div>
	<!-- /OVERLAY MENU -->
