

		<!-- HERO -->
		<section class="module-small module-parallax bg-light-60" data-background="{$basedomain}assets/images/galeri.jpg">

			<!-- HERO TEXT -->
			<div class="container">

				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="mh-line-size-3 font-alt m-b-20">Album</h1>
						<!-- <h5 class="mh-line-size-4 font-alt">Simple single portfolio page with image gallery</h5> -->
					</div>
				</div>

			</div>
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

		<!-- PORTFOLIO -->
		<section id="portfolio" class="module">

			<div class="container">

				<!-- FILTER -->
				<div class="row">

					<div class="col-sm-12">
						<ul id="filters" class="filters font-alt">
							<li><a href="#" data-filter="*" class="current"><Strong>Wedding Gallery</Strong></a></li>
							
						</ul>
					</div>

				</div>
				<!-- /FILTER -->

				<!-- WORKS GRID -->
				<div class="row">

					<div id="works-grid" class="works-grid works-hover-w">

						<!-- DO NOT DELETE THIS DIV -->
						<div class="grid-sizer"></div>
							
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/4.jpg" class="gallery" title="Olyvia & Steven">
								<img src="{$basedomain}assets/images/portfolio-single/4.jpg" alt="height:780px;width:380px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/1.jpg" class="gallery" title="Olyvia & Steven">
								<img src="{$basedomain}assets/images/portfolio-single/1.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/6.jpg" class="gallery" title="Olyvia & Steven">
								<img src="{$basedomain}assets/images/portfolio-single/6.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/9.jpg" class="gallery" title="Nana & Ryan">
								<img src="{$basedomain}assets/images/portfolio-single/9.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/11.jpg" class="gallery" title="Elizabeth & Ivan">
								<img src="{$basedomain}assets/images/portfolio-single/11.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/17.jpg" class="gallery" title="Elizabeth & Ivan">
								<img src="{$basedomain}assets/images/portfolio-single/17.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/13.jpg" class="gallery" title="Yenli & Kurniawan">
								<img src="{$basedomain}assets/images/portfolio-single/13.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/15.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/15.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/22.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/22.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/14.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/14.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/18.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/18.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/20.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/20.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/23.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/23.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/24.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/24.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						<!-- PORTFOLIO ITEM -->
						<div class="col-sm-6 col-md-3 col-lg-3" style="top:-40px">
						<div class="gallery-box">
							<a href="{$basedomain}assets/images/portfolio-single/26.jpg" class="gallery" title="">
								<img src="{$basedomain}assets/images/portfolio-single/26.jpg" alt="" style="height:200px;width:400px">
							</a>
						</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						
						
						

					</div>

				</div>
				<!-- /WORKS GRID -->

				

			</div>

		</section>
		<!-- /PORTFOLIO -->
	

	