

		<!-- HERO -->
		<section class="module module-parallax bg-light-50" data-background="{$basedomain}assets/images/about3.jpg">

			<!-- HERO TEXT -->
			<div class="container">

				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="mh-line-size-3 font-alt m-b-20">About us</h1>
						<h5 class="mh-line-size-4 font-alt">Trust Us For Your Special Day</h5>
					</div>
				</div>

			</div>
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

		<!-- ABOUT -->
		<section class="module">

			<div class="container">

				<div class="row">

					<!-- ABOUT STUDIO  -->
					<div class="col-sm-6">

						<h4 class="font-alt m-t-0 m-b-20">About Quinn</h4>
						<p align="justify">Quinn Wedding Organizer bergerak dibidang jasa pelayanan dibentuk pada bulan April 2011 
						dan menyediakan berbagai macam paket pernikahan. Quinn Wedding Organizer juga bekerja sama dengan beberapa vendor yang sudah berpengalaman 
						di bidangnya masing-masing dimulai dari Make Up, Photography, Video shooting dan lainnya. Kami menyadari bahwa 
						pernikahan adalah moment yang sangat penting. Maka dari itu, kami siap membantu para calon 
						pengantin untuk mempersiapkan segalanya baik dalam hal sekecil apapun.
						<q>
						Trust Us For Your Special Day, We Will Make Everyone Unite in Happiness
						</q>
						</p>

						<p><a href="#team" class="section-scroll">Who We Are →</a></p>

					</div>
					<!-- /ABOUT STUDIO  -->

					<!-- WHAT WE DO -->
					<div class="col-sm-6">

						<h4 class="font-alt m-t-0 m-b-20">What We Do</h4>
						<p align="justify">Quinn Wedding Organizer terbentuk berawal dari menggabungkan hobby dan keahlian para personalnya, 
						dimana setiap personal mempunyai keahlian masing2 baik dari segi Make Up, Foto, dan Pengatur Acara.</p>

						<p><a href="#services" class="section-scroll">Our Services →</a></p>

					</div>
					<!-- /WHAT WE DO -->

					

				</div>

			</div>

		</section >
		<!-- /ABOUT -->

		

		<!-- SERVICES -->
		<section id="services" class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Services</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row multi-columns-row">

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-settings"></i>
							</div>
							<h5 class="content-box-title font-alt">Designs & interfaces</h5>
							<div class="content-box-text">
								The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-android-settings"></i>
							</div>
							<h5 class="content-box-title font-alt">Highly customizable</h5>
							<div class="content-box-text">
								The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-android-laptop"></i>
							</div>
							<h5 class="content-box-title font-alt">Responsive design</h5>
							<div class="content-box-text">
								The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-android-bulb"></i>
							</div>
							<h5 class="content-box-title font-alt">Features & plugins</h5>
							<div class="content-box-text">
								The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-android-alarm-clock"></i>
							</div>
							<h5 class="content-box-title font-alt">Optimised for speed</h5>
							<div class="content-box-text">
								The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-android-happy"></i>
							</div>
							<h5 class="content-box-title font-alt">Dedicated support</h5>
							<div class="content-box-text">
								The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>
		<!-- /SERVICES -->

		
		<!-- TEAM -->
		<section id="team" class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Our Team</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="{$basedomain}assets/images/team/team-1.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">Martin Friman</h5>
								<div class="team-role font-serif">Programmer</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="{$basedomain}assets/images/team/team-2.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">Andy River</h5>
								<div class="team-role font-serif">Designer</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="{$basedomain}assets/images/team/team-3.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">John Smith</h5>
								<div class="team-role font-serif">Art Director</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="{$basedomain}assets/images/team/team-4.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">Adele Snow</h5>
								<div class="team-role font-serif">Account manager</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

				</div>

			</div>

		</section>
		<!-- /TEAM -->

		<hr class="divider"><!-- DIVIDER -->

		<!-- CLIENTS -->
		<section class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Partner</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-1.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-2.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-3.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-4.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-5.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-6.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-7.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-8.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-9.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-10.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-11.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-12.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

				</div>

			</div>

		</section>
		<!-- /CLIENTS -->

	